gemini_api_key = "YOUR_GEMINI_API_KEY"
openai_api_key = "YOUR_OPENAI_API_KEY"
enkryptai_api_key = "YOUR_ENKRYPTAI_API_KEY"
perspective_api_key = "YOUR_PERSPECTIVE_API_KEY"
azure_api_key = "YOUR_AZURE_API_KEY"
client_id = "YOUR_AWS_ACCESS_KEY_ID"         # comprehend
client_secret = "YOUR_AWS_SECRET_ACCESS_KEY"  # comprehend